.panel-group(id= "accordion-#{section}")
  .panel
    .row.text-center
      .col-xs-12
        .panel-heading
          h4.panel-title
            a(data-toggle='collapse', data-parent="#accordion-#{section}", href="#collapseOne-#{section}")=  learnMoreLinkText
    .row
      .col-xs-12
        .panel-collapse.collapse(id= "collapseOne-#{section}")
          .panel-body= learnMoreText