sectionTitleSubText = "Replace your " + section + " certificate in 3 simple steps"

formTitle = "Details"
formTitleSubText = "Please fill in the details for " + section + " certificate"

.vert(id= "#{section}-section", class= section)
  .container
    .row
      .col-sm-12
        h1= sectionTitle
        p.lead= sectionTitleSubText
    .row
      .col-sm-5.certificate-hide
        .row
          .col-sm-offset-3.col-sm-8.text-center
            .featurette-item
              i.fa.fa-pencil.dark.apply-button(data-target-form= section)
              h2 APPLY NOW
              p in 3 Easy Steps!
      .col-sm-5.certificate-show.hidden
        .row
          .col-sm-12.text-right
            h2= formTitle
            p.lead= formTitleSubText
          .col-sm-12.text-right
            div.apply(formtype= section)
      .col-sm-7
        include ../templates/video

.vert
  .container
    hr
    .row
      .col-sm-offset-2.col-sm-8
        .lead: em= podContent
    hr